$fonts: (
	"Noto+Serif:ital,wght@0,100..900;1,100..900",
	"Noto+Sans:ital,wght@0,100..900;1,100..900",
	"Noto+Sans+Mono:wght@100..900",
	"Fira+Code:wght@300..700"
);
@each $font in $fonts {
	@import url("https://fonts.googleapis.com/css2?family=#{$font}&display=swap");
}
@mixin padding($h: null, $v: null, $t: null, $b: null, $l: null, $r: null) {
	@if $h != false {
		@if $l != false {
			padding-left: if($l != null, $l, if($h != null, $h, 0));
		}
		@if $r != false {
			padding-right: if($r != null, $r, if($h != null, $h, 0));
		}
	}
	@if $v != false {
		@if $t != false {
			padding-top: if($t != null, $t, if($v != null, $v, 0));
		}
		@if $b != false {
			padding-bottom: if($b != null, $b, if($v != null, $v, 0));
		}
	}
}
@mixin wrap($pre: "", $post: "") {
	@each $pos, $v in (before: $pre, after: $post) {
		@if $v != "" {
			&::#{$pos} {
				content: $v;
			}
		}
	}
}
@function bgColour($colour) {
	@return calc($colour * 3 / 4);
}
$serif: "Noto Serif", serif;
$sans: "Noto Sans", sans-serif;
$mono: "Fira Code", "Noto Sans Mono", monospace;
body {
	font: 20pt $sans;
	table {
		width: 100%;
		text-align: center;
		&#characters {
			tr {
				th {
					text-decoration: underline;
				}
				&.character {
					&[data-sex^="m"] {
						color: blue;
						background-color: rgb(
							bgColour(255),
							bgColour(255),
							255
						);
						.name::after {
							content: "\2642";
						}
					}
					&[data-sex^="f"] {
						color: red;
						background-color: rgb(
							255,
							bgColour(255),
							bgColour(255)
						);
						.name::after {
							content: "\2640";
						}
					}
					&:not([data-sex^="m"]):not([data-sex^="f"]) {
						color: green;
						background-color: rgb(
							bgColour(255),
							255,
							bgColour(255)
						);
						.name::after {
							content: "\26a5";
						}
					}
					td {
						@include padding($h: calc(1em / 2), $v: false);
						border-radius: calc(1em / pow(2, 2));
						&.names {
							.name {
								font-weight: bold;
							}
							.pronunciation {
								font-family: $sans;
								@include wrap("<", ">");
							}
						}
						&.extra {
							text-align: justify;
						}
					}
				}
			}
		}
	}
}
